<% if (loggedIn) { %>
    <header>
      <nav class="desktop-navbar w-full h-1/5 flex justify-between items-center p-5 bg-gray-100">
        <div class="logo-container flex justify-center items-center">
          <a href="/">
            <img class="w-full h-6/12" src="/assets/image/Sunshine Attractions-logo/sunshine-logo-transparent (2).png" alt="Sunshine Attractions Logo">
          </a>
        </div>
        
        <!-- Mobile Menu Button -->
        <button id="mobile-menu-button" class="xl:hidden lg:hidden 812breakpoint:hidden block text-gray-600 focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>         

        <div class="hidden xl:flex lg:flex 812breakpoint:flex items-center">
          <ul class="menu menu-horizontal bg-transparent">
            <li><a href="/" class="812breakpoint:text-lg font-karla font-bold p-3 m-2">HOME</a></li>
            <li><a href="/maps" class="812breakpoint:text-lg  font-karla font-bold p-3 m-2">MAPS</a></li>
          </ul>
          <div class="dropdown dropdown-hover m-2">
            <form action="/profile">
              <div class="avatar">
                <div class="w-10 rounded-full">
                  <img src="<%= user.profilePic || '/assets/image/Sunshine Attractions-logo/default-profile-pic.png' %>" alt="User Profile Picture" />
                </div>
              </div>
            </form>
            <form action="/profile" class="font-karla">
              <%= user.userName %>
            </form>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52 right-0 menu bg-base-200">
                <li><a href="/profile" class="active font-merriweather">Profile</a></li>
                <li><a href="/your-reviews" class="font-merriweather">Your reviews</a></li>
                <li><a href="/logout" class="font-merriweather">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Mobile Menu (hidden by default) -->
      <div id="mobile-menu" class="hidden xl:hidden lg:hidden">
        <ul class="menu bg-gray-100 text-center">
          <li><a href="/profile" class="block py-3 border-t border-gray-300">PROFILE</a></li>
          <li><a href="/" class="block py-3 border-t border-gray-300">HOME</a></li>
          <li><a href="/maps" class="block py-3 border-t border-gray-300">MAPS</a></li>
        </ul>
      </div>
                
    </header>

    <script>
      // Function to toggle the mobile menu
      function toggleMobileMenu() {
        const mobileMenu = document.getElementById('mobile-menu');
        if (window.innerWidth < 768) { // Adjust the breakpoint as needed
          mobileMenu.classList.add('hidden');
        } else {
          mobileMenu.classList.add('hidden');
        }
      }

      function mobileMenuClick() {
        const mobileMenu = document.getElementById('mobile-menu');
        mobileMenu.classList.toggle('hidden')
      }
    
      // Event listener for the mobile menu button
      document.getElementById('mobile-menu-button').addEventListener('click', function () {
        mobileMenuClick();
      });
    
      // Event listener for window resize
      window.addEventListener('resize', function () {
        toggleMobileMenu();
      });
    
      // Initial check and toggle when the page loads
      window.addEventListener('load', function () {
        toggleMobileMenu();
      });
    </script>
  <% } else { %>
    <header>
      <nav class="desktop-navbar w-full h-1/5 flex justify-between items-center p-5 bg-gray-100">
        <div class="logo-container flex justify-center items-center">
          <a href="/">
            <img class="w-full h-6/12" src="/assets/image/Sunshine Attractions-logo/sunshine-logo-transparent (2).png" alt="Sunshine Attractions Logo">
          </a>
        </div>
        <!-- Mobile Menu Button -->
        <button id="mobile-menu-button" class="xl:hidden lg:hidden 812breakpoint:hidden block text-gray-600 focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
        <!-- Desktop Menu -->
        <div class="hidden xl:flex lg:flex 812breakpoint:flex items-center">
          <ul class="menu menu-horizontal bg-transparent">
            <li><a href="/" class="812breakpoint:text-lg font-karla font-bold p-3 m-2">HOME</a></li>
            <li><a href="/maps" class="812breakpoint:text-lg  font-karla font-bold p-3 m-2">MAPS</a></li>
          </ul>
          <form action="/login">
            <button type="submit" class="border border-gray-300 rounded-md shadow-sm bg-secondaryButton p-3 m-2 font-merriweather hover:bg-black hover:text-white hover:border-white">LOGIN</button>
          </form>
          <form action="/signup">
            <button type="submit" class="bg-primaryButton border rounded-md shadow-sm p-3 m-2 font-merriweather hover:bg-black hover:text-white hover:border-white">SIGNUP</button>
          </form>
        </div>
      </nav>
      <!-- Mobile Menu (hidden by default) -->
      <div id="mobile-menu" class="hidden xl:hidden lg:hidden">
        <ul class="menu bg-gray-100 text-center">
          <li><a href="/" class="block py-3 border-t border-gray-300">HOME</a></li>
          <li><a href="/maps" class="block py-3 border-t border-gray-300">MAPS</a></li>
          <li><a href="/login" class="block py-3 border-t border-gray-300">LOGIN</a></li>
          <li><a href="/signup" class="block py-3 border-t border-gray-300">SIGNUP</a></li>
        </ul>
      </div>
    </header>
    
    <script>
      // Function to toggle the mobile menu
      function toggleMobileMenu() {
        const mobileMenu = document.getElementById('mobile-menu');
        if (window.innerWidth < 768) { // Adjust the breakpoint as needed
          mobileMenu.classList.toggle('hidden');
        } else {
          mobileMenu.classList.add('hidden');
        }
      }
    
      // Event listener for the mobile menu button
      document.getElementById('mobile-menu-button').addEventListener('click', function () {
        toggleMobileMenu();
      });
    
      // Event listener for window resize
      window.addEventListener('resize', function () {
        toggleMobileMenu();
      });
    
      // Initial check and toggle when the page loads
      window.addEventListener('load', function () {
        toggleMobileMenu();
      });
    </script>
    
<% } %>