<!-- Desktop Version -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunshine Attractions</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="http://localhost:2155/assets/css/output.css" />
    <script src="/js/main.js"></script>
  </head>
<% if (isDesktop) { %>
    <div class="desktop-container w-screen h-screen">
        <header>
            <nav class="desktop-navbar w-full h-1/5 flex justify-between items-center p-5">
              <div class="logo-container flex justify-center items-center">
                <img class="w-full h-6/12" src="assets/image/Sunshine Attractions-logo/sunshine-logo-transparent (2).png" alt="Sunshine Attractions Logo">
              </div>
              <div class="login-container flex justify-center items-center p-5">
                <form action="/login">
                  <button type="submit" class="bg-#fca92c">LOGIN</button>
                </form>
              </div>
            </nav>
          </header>

  <main class="w-full h-4/5 pl-40 pr-40">
  <!-- Container for the following three sections -->

    <!-- Section for "Discover Disney" heading -->
    <section class="w-full w-1/5 h-1/5 flex content-center justify-center border border-black p-6 m-6">
        <h1 class="text-7xl">Discover Disney</h1>
    </section>

    <!-- Section for Rides, Food, and Shows listings -->
    <section class="w-full h-4/5">
        <!-- Ride listings -->
        <section class="w-full h-1/3">
            <section class="w-full h-1/5">
                <h2 class="text-xl">Rides</h2>
            </section>
            <section class="w-full h-2/3">
                <ul class="flex justify-start items-start">
                    <li class="h-full w-1/4 p-2">
                        <a href="/space-mountain" class="h-full w-full flex flex-col justify-center items-center border border-black p-5 box-border">Space Mountain</a>
                    </li>
                    <li class="h-full w-1/4 p-2">
                        <a href="" class="h-full w-full flex flex-col justify-center items-center border border-black p-5 box-border">Thunder Mountain</a>
                    </li>
                    <li class="h-full w-1/4 p-2">
                        <a href="" class="h-full w-full flex flex-col justify-center items-center border border-black p-5 box-border">Splash Mountain</a>
                    </li>
                    <li class="h-full w-1/4 p-2">
                        <a href="" class="h-full w-full flex flex-col justify-center items-center border border-black p-5 box-border">Haunted Mansion</a>
                    </li>
                </ul>
            </section>            

        </section>

        <!-- Food listings -->
        <section class="w-full h-1/3">
            <section class="w-full h-1/5">
                <h2 class="text-xl">Food</h2>
            </section>
            <section class="w-full h-2/3">
                <ul class="flex justify-start items-start">
                    <li class="h-full w-1/4 p-2">
                        <a href="" class="h-full w-full flex flex-col justify-center items-center border border-black p-5 box-border">Space Mountain</a>
                    </li>
                    <li class="h-full w-1/4 p-2">
                        <a href="" class="h-full w-full flex flex-col justify-center items-center border border-black p-5 box-border">Thunder Mountain</a>
                    </li>
                    <li class="h-full w-1/4 p-2">
                        <a href="" class="h-full w-full flex flex-col justify-center items-center border border-black p-5 box-border">Splash Mountain</a>
                    </li>
                    <li class="h-full w-1/4 p-2">
                        <a href="" class="h-full w-full flex flex-col justify-center items-center border border-black p-5 box-border">Haunted Mansion</a>
                    </li>
                </ul>
            </section>            

        </section>
        
        <!-- Show listings -->
        <section class="w-full h-1/3">
            <section class="w-full h-1/5">
                <h2 class="text-xl">Shows</h2>
            </section>
            <section class="w-full h-2/3">
                <ul class="flex justify-start items-start">
                    <li class="h-full w-1/4 p-2">
                        <a href="" class="h-full w-full flex flex-col justify-center items-center border border-black p-5 box-border">Space Mountain</a>
                    </li>
                    <li class="h-full w-1/4 p-2">
                        <a href="" class="h-full w-full flex flex-col justify-center items-center border border-black p-5 box-border">Thunder Mountain</a>
                    </li>
                    <li class="h-full w-1/4 p-2">
                        <a href="" class="h-full w-full flex flex-col justify-center items-center border border-black p-5 box-border">Splash Mountain</a>
                    </li>
                    <li class="h-full w-1/4 p-2">
                        <a href="" class="h-full w-full flex flex-col justify-center items-center border border-black p-5 box-border">Haunted Mansion</a>
                    </li>
                </ul>
            </section>            

        </section>       
    </section>

</main>

  <% } %>
  
  <!-- Mobile Version -->
  <% if (!isDesktop) { %>
    <div class="mobile-container">
      <!-- Mobile-specific HTML structure -->
      <header>
        <!-- Large box for the app title on mobile -->
        <h1>Sunshine <br> Attractions </br> </h1>
      </header>

      <div class="search-container">
        <!-- Search bar content here -->
      </div>

      <main>
        <ul>
            <li>
                <a href="">Disney</a>
            </li>
            <li>
                <a href="">Universal</a>
            </li>
            <li>
                <a href="">Seaworld</a>
            </li>
            <li>
                <a href="">Busch Gardens</a>
            </li>
         </ul>
      </main>

      <section>
        <article>
            <h2>Halloween Horror Nights 2023</h2>
        </article>
      </section>

    </div>
  <% } %>
</body>
</html>