<!-- Desktop Version -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunshine Attractions</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="http://localhost:2155/assets/css/output.css" />
    <script src="/js/main.js"></script>
  </head>

<% if (isDesktop) { %>
    <div class="desktop-container w-screen h-screen">
      <header>
        <nav class="desktop-navbar w-full h-1/5 flex justify-between items-center p-5">
          <div class="logo-container flex justify-center items-center">
            <a href="/">
            <img class="w-full h-6/12" src="assets/image/Sunshine Attractions-logo/sunshine-logo-transparent (2).png" alt="Sunshine Attractions Logo">
            </a>
          </div>
          <div class="login-container flex justify-center items-center p-5">
            <form action="/login">
              <button type="submit" class="bg-#fca92c">LOGIN</button>
            </form>
          </div>
        </nav>
      </header>

  <main class="w-full h-4/5 pl-40 pr-40 flex content-center justify-center flex-col">
  <!-- Container for the following three sections -->

      <section class="w-full h-1/2 flex content-center justify-center flex-col border border-gray-300 m-5">
         <!-- Section for top ratings -->
          <div class="w-full h-1/5 flex content-center justify-center items-center">
            <h2>Top Rated</h2>
          </div>

        <div class="flex h-4/5">

          <div class="w-1/3 h-full flex content-center justify-center items-center flex-col">
            <h3>Rides</h3>
            <ol>
              <li>1. Space Mountain</li>
              <li>2. Space Mountain</li>
              <li>3. Space Mountain</li>
              <li>4. Space Mountain</li>
              <li>5. Space Mountain</li>
            </ol>
          </div>

          <div class="w-1/3 h-full flex content-center justify-center items-center flex-col">
            <h3>Food</h3>
            <ol>
              <li>1. Space Mountain</li>
              <li>2. Space Mountain</li>
              <li>3. Space Mountain</li>
              <li>4. Space Mountain</li>
              <li>5. Space Mountain</li>
            </ol>
          </div>

          <div class="w-1/3 h-full flex content-center justify-center items-center flex-col">
            <h3>Shows</h3>
            <ol>
              <li>1. Space Mountain</li>
              <li>2. Space Mountain</li>
              <li>3. Space Mountain</li>
              <li>4. Space Mountain</li>
              <li>5. Space Mountain</li>
            </ol>
          </div>

        </div>
      </section>

      <section class="w-full h-1/2 flex items-center justify-center align-center">
        <!-- Section for the theme park selection -->
        <ul class="flex">
           <li class="flex-1 border border-black m-5 p-20 text-center justify-center items-center">
               <a href="/disney-selection">Disney</a>
           </li>
           <li class="flex-1 border border-black m-5 p-20 text-center">
               <a href="">Universal</a>
           </li>
           <li class="flex-1 border border-black m-5 p-20 text-center">
               <a href="">Seaworld</a>
           </li>
           <li class="flex-1 border border-black m-5 p-20 text-center">
               <a href="">Busch Gardens</a>
           </li>
        </ul>
     </section>

  </main>
</div>

  <% } %>
  
  <!-- Mobile Version -->
  <% if (!isDesktop) { %>
    <div class="mobile-container">
      <!-- Mobile-specific HTML structure -->
      <header>
        <!-- Large box for the app title on mobile -->
        <h1>Sunshine <br> Attractions </br> </h1>
      </header>

      <div class="search-container">
        <!-- Search bar content here -->
      </div>

      <main>
        <ul>
            <li>
                <a href="">Disney</a>
            </li>
            <li>
                <a href="">Universal</a>
            </li>
            <li>
                <a href="">Seaworld</a>
            </li>
            <li>
                <a href="">Busch Gardens</a>
            </li>
         </ul>
      </main>

      <section>
        <article>
            <h2>Halloween Horror Nights 2023</h2>
        </article>
      </section>

    </div>
  <% } %>
</body>
</html>