<!-- Desktop Version -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunshine Attractions</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <!-- Google Fonts (Kara 500 & Merriweather 400) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Merriweather&display=swap" rel="stylesheet">

    <script src="/Sunshine-Attractions/public/js/main.js"></script>
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

    <div class="desktop-container w-screen overflow-auto">
      <% if (loggedIn) { %>
        <header>
          <nav class="desktop-navbar w-full h-1/5 flex justify-between items-center p-5 bg-gray-100">
            <div class="logo-container flex justify-center items-center">
              <a href="/">
                <img class="w-full h-6/12" src="assets/image/Sunshine Attractions-logo/sunshine-logo-transparent (2).png" alt="Sunshine Attractions Logo">
              </a>
            </div>
            
            <!-- Mobile Menu Button -->
            <button id="mobile-menu-button" class="xl:hidden lg:hidden 812breakpoint:hidden block text-gray-600 focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </button>         

            <div class="hidden xl:flex lg:flex 812breakpoint:flex items-center">
              <ul class="menu menu-horizontal bg-base-200">
                <li><a href="/" class="812breakpoint:text-lg font-karla font-bold p-3 m-2">HOME</a></li>
                <li><a href="/maps" class="812breakpoint:text-lg  font-karla font-bold p-3 m-2">MAPS</a></li>
              </ul>
              <div class="dropdown dropdown-hover m-2">
                <form action="/profile">
                  <div class="avatar">
                    <div class="w-10 rounded-full">
                      <img src="<%= user.profilePic || 'assets/image/Sunshine Attractions-logo/default-profile-pic.png' %>" alt="User Profile Picture" />
                    </div>
                  </div>
                </form>
                <form action="/profile" class="font-karla">
                  <%= user.userName %>
                </form>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52 right-0 menu bg-base-200">
                    <li><a href="/profile" class="active font-merriweather">Profile</a></li>
                    <li><a href="/your-reviews" class="font-merriweather">Your reviews</a></li>
                    <li><a href="/logout" class="font-merriweather">Logout</a></li>
                </ul>
              </div>
            </div>
          </nav>

          <!-- Mobile Menu (hidden by default) -->
          <div id="mobile-menu" class="hidden xl:hidden lg:hidden">
            <ul class="menu bg-gray-100 text-center">
              <li><a href="/profile" class="block py-3 border-t border-gray-300">PROFILE</a></li>
              <li><a href="/" class="block py-3 border-t border-gray-300">HOME</a></li>
              <li><a href="/maps" class="block py-3 border-t border-gray-300">MAPS</a></li>
            </ul>
          </div>
                    
        </header>

        <script>
          // Function to toggle the mobile menu
          function toggleMobileMenu() {
            const mobileMenu = document.getElementById('mobile-menu');
            if (window.innerWidth < 768) { // Adjust the breakpoint as needed
              mobileMenu.classList.toggle('hidden');
            } else {
              mobileMenu.classList.add('hidden');
            }
          }
        
          // Event listener for the mobile menu button
          document.getElementById('mobile-menu-button').addEventListener('click', function () {
            toggleMobileMenu();
          });
        
          // Event listener for window resize
          window.addEventListener('resize', function () {
            toggleMobileMenu();
          });
        
          // Initial check and toggle when the page loads
          window.addEventListener('load', function () {
            toggleMobileMenu();
          });
        </script>
      <% } else { %>
        <header>
          <nav class="desktop-navbar w-full h-1/5 flex justify-between items-center p-5 bg-gray-100">
            <div class="logo-container flex justify-center items-center">
              <a href="/">
                <img class="w-full h-6/12" src="assets/image/Sunshine Attractions-logo/sunshine-logo-transparent (2).png" alt="Sunshine Attractions Logo">
              </a>
            </div>
            <!-- Mobile Menu Button -->
            <button id="mobile-menu-button" class="xl:hidden lg:hidden 812breakpoint:hidden block text-gray-600 focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </button>
            <!-- Desktop Menu -->
            <div class="hidden xl:flex lg:flex 812breakpoint:flex items-center">
              <ul class="menu menu-horizontal bg-base-200">
                <li><a href="/" class="812breakpoint:text-lg font-karla font-bold p-3 m-2">HOME</a></li>
                <li><a href="/maps" class="812breakpoint:text-lg  font-karla font-bold p-3 m-2">MAPS</a></li>
              </ul>
              <form action="/login">
                <button type="submit" class="border border-gray-300 rounded-md shadow-sm bg-secondaryButton p-3 m-2 font-merriweather hover:bg-black hover:text-white hover:border-white">LOGIN</button>
              </form>
              <form action="/signup">
                <button type="submit" class="bg-primaryButton border rounded-md shadow-sm p-3 m-2 font-merriweather hover:bg-black hover:text-white hover:border-white">SIGNUP</button>
              </form>
            </div>
          </nav>
          <!-- Mobile Menu (hidden by default) -->
          <div id="mobile-menu" class="hidden xl:hidden lg:hidden">
            <ul class="menu bg-gray-100 text-center">
              <li><a href="/" class="block py-3 border-t border-gray-300">HOME</a></li>
              <li><a href="/maps" class="block py-3 border-t border-gray-300">MAPS</a></li>
              <li><a href="/login" class="block py-3 border-t border-gray-300">LOGIN</a></li>
              <li><a href="/signup" class="block py-3 border-t border-gray-300">SIGNUP</a></li>
            </ul>
          </div>
        </header>
        
        <script>
          // Function to toggle the mobile menu
          function toggleMobileMenu() {
            const mobileMenu = document.getElementById('mobile-menu');
            if (window.innerWidth < 768) { // Adjust the breakpoint as needed
              mobileMenu.classList.toggle('hidden');
            } else {
              mobileMenu.classList.add('hidden');
            }
          }
        
          // Event listener for the mobile menu button
          document.getElementById('mobile-menu-button').addEventListener('click', function () {
            toggleMobileMenu();
          });
        
          // Event listener for window resize
          window.addEventListener('resize', function () {
            toggleMobileMenu();
          });
        
          // Initial check and toggle when the page loads
          window.addEventListener('load', function () {
            toggleMobileMenu();
          });
        </script>
        
      <% } %>

  <main class="w-auto h-auto flex overflow-auto border-box">
  <!-- Container for the following three sections -->

      <section class="flex content-center justify-start flex-col border-b border-gray-300 m-5 box-border z-[0]">
         <!-- Section for top ratings -->
        <!-- Section for the theme park selection -->
        <ul class="flex box-border">
          <li class="flex-1 m-5 text-center justify-center items-center">
              <a href="/disney-selection-homepage">
               <div class="card w-full h-full bg-base-100 shadow-xl image-full">
                 <figure><img src="assets/image/Sunshine Attractions-logo/8731_castle_landing_page_image_nu_2a8f8e6a-a1f9-45fd-8eca-596c92d04a7c.jpeg" alt="Shoes" /></figure>
                 <div class="card-body p-0 overflow-auto flex w-full h-full justify-center items-center">
                  <section class="p-5">
                    <h2 class="card-title text-4xl font-karla">Disney <br> World</h2>
                  </section>
                  <section class="card-actions justify-center w-full p-5">
                   <button class="btn btn-primary bg-primaryButton text-black border-white w-full hover:bg-black hover:text-white hover:border-white">Explore</button>
                  </section>
                 </div>
               </div>
              </a>
          </li>
          <li class="flex-1 m-5 text-center justify-center items-center">
           <a>
            <div class="card w-full h-full bg-base-100 shadow-xl image-full">
              <figure><img src="assets/image/Sunshine Attractions-logo/1-universal-orlando-resort-globe-1661870709.jpeg" alt="Shoes" /></figure>
              <div class="card-body p-0 overflow-auto flex w-full h-full justify-center items-center">

                <section class="p-5">
                  <h2 class="card-title text-4xl font-karla">Universal Orlando</h2>
                </section>

                <section class="card-actions justify-center w-full p-5">
                 <button class="btn btn-primary bg-primaryButton text-black border-white w-full hover:bg-black hover:text-white hover:border-white" disabled>Coming Soon</button>
                </section>

              </div>
            </div>
           </a>
       </li>
       <li class="flex-1 m-5 text-center justify-center items-center">
         <a>
          <div class="card w-full h-full bg-base-100 shadow-xl image-full">
            <figure><img src="assets/image/Sunshine Attractions-logo/SeaWorld-Orlando.jpeg" alt="Shoes" /></figure>
            <div class="card-body p-0 overflow-auto flex w-full h-full justify-center items-center">

              <section class="p-5">
                <h2 class="card-title text-4xl font-karla">Sea World Orlando</h2>
              </section>

              <section class="card-actions justify-center w-full p-5">
               <button class="btn btn-primary bg-primaryButton text-black border-white w-full hover:bg-black hover:text-white hover:border-white" disabled>Coming Soon</button>
              </section>

            </div>
          </div>
         </a>
     </li>
     <li class="flex-1  m-5 text-center justify-center items-center">
       <a>
        <div class="card w-full h-full bg-base-100 shadow-xl image-full">
          <figure><img src="assets/image/Sunshine Attractions-logo/st-pete-beach-condo-rentals.jpeg" alt="Shoes" /></figure>
          <div class="card-body p-0 overflow-auto flex w-full h-full justify-center items-center">

            <section class="p-5">
              <h2 class="card-title text-4xl font-karla">Busch <br> Gardens<h2>
            </section>

            <section class="card-actions justify-center w-full p-5">
             <button class="btn btn-primary bg-primaryButton text-black border-white w-full hover:bg-black hover:text-white hover:border-white" disabled>Coming Soon</button>
            </section>

          </div>
        </div>
       </a>
   </li>
 </ul>

       </div>
    </section>

</section>

<section class="flex content-center justify-start flex-col border-b border-gray-300 m-5 box-border ">
  <!-- Section for top ratings -->
 <!-- Section for the theme park selection -->
  <ul class="flex box-border">
   <li class="flex-1 m-5 text-center justify-center items-center">
       <a>
        <div class="card w-full bg-base-100 shadow-xl image-full">
          <figure><img src="assets/image/Sunshine Attractions-logo/strangerthingshhnbanner.jpeg" alt="Shoes" class="w-full h-full" /></figure>
          <div class="card-body p-0 overflow-auto flex w-full h-full justify-center items-center">
           <section class="p-5">
             <h2 class="card-title text-6xl font-karla">Halloween Horror Nights 2023</h2>
           </section>

           <section class="card-actions justify-center w-full p-5 h-1/3">
            <button class="btn btn-primary bg-red-500 text-black border-white w-full h-full text-3xl hover:bg-black hover:text-white hover:border-white" disabled>Coming Soon</button>
           </section>
          </div>
        </div>
       </a>
   </li>
  </ul>

  </section> 

  </main>
</div>
  
</body>
</html>