<!-- Desktop Version -->
<!DOCTYPE html>
<html lang="en" class="box-border">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunshine Attractions</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <!-- Google Fonts (Kara 500 & Merriweather 400) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Merriweather&display=swap" rel="stylesheet">

    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <div class="desktop-container w-screen h-screen">
    
    <!-- Nav Bar -->   
    <%- include('partials/header') -%>

<main class="flex justify-center items-top w-full h-auto">
  <script>
    const backendApiUrl = 'https://sunshine-attractions-mkbs.onrender.com/wait-times';
fetch(backendApiUrl)
  .then((response) => response.json())
  .then((data) => {
    console.log(data)
    // API Lands data
    let frontierland = data.lands[2];
    let libertySquare = data.lands[3];
    let tomorrowland = data.lands[5];
    let fantasyland = data.lands[1];
    let adventureland = data.lands[0];
    // API Rides for specific lands
    let ridesFantasyland = fantasyland.rides;
    let ridesTomorrowland = tomorrowland.rides;
    let ridesLibertySquare = libertySquare.rides;
    let ridesFrontierland = frontierland.rides;
    let ridesAdventureland = adventureland.rides;
    // Thunder Mountain Wait Time Code
    let thunderMountain = ridesFrontierland.find((ride) => ride.name === "Big Thunder Mountain Railroad");
    let thunderMountainWait = thunderMountain.wait_time
    //

    // Haunted Mansion Wait Time Code
    let hauntedMansion = ridesLibertySquare.find((ride) => ride.name === "Haunted Mansion");
    let hauntedMansionWait = hauntedMansion.wait_time
    //

    // Space Mountain Wait Time Code
    let spaceMountain = ridesTomorrowland.find((ride) => ride.name === "Space Mountain");
    let spaceMountainWait = spaceMountain.wait_time
    //

    // Seven Dwarfs Mine Train Wait Time Code 
    let mineTrain = ridesFantasyland.find((ride) => ride.name === "Seven Dwarfs Mine Train");
    //

    // Pirates of the Caribbean Wait Time Code 
    let pirates = ridesAdventureland.find((ride) => ride.name === "Pirates of the Caribbean");
    //    

    // Jungle Cruise Wait Time Code 
    let jungle = ridesAdventureland.find((ride) => ride.name === "Jungle Cruise");
    //
    
    // Dumbo the Flying Elephant Wait Time Code 
    let dumbo = ridesFantasyland.find((ride) => ride.name === "Dumbo the Flying Elephant");
    //
    
    // Tomorrowland Transit Authority PeopleMover Wait Time Code 
    let peoplemover = ridesTomorrowland.find((ride) => ride.name === "Tomorrowland Transit Authority PeopleMover");
    //

    // It's a small world Wait Time Code 
    let smallWorld = ridesFantasyland.find((ride) => ride.name === `"it's a small world"`);
    //

    // Prince Charming Regal Carrousel Wait Time Code 
    let carrousel = ridesFantasyland.find((ride) => ride.name === "Prince Charming Regal Carrousel");
    //

    // Peter Pan's Flight Wait Time Code 
    let peterPan = ridesFantasyland.find((ride) => ride.name === "Peter Pan's Flight");
    //

    // Under the Sea - Journey of the Little Mermaid Wait Time Code 
    let mermaid = ridesFantasyland.find((ride) => ride.name === "Under the Sea - Journey of The Little Mermaid");
    //

    // The barnstormer Wait Time Code 
    let barnstormer = ridesFantasyland.find((ride) => ride.name === "The Barnstormer");
    //

    // The Magic Carpets of Aladdin Wait Time Code 
    let aladdin = ridesAdventureland.find((ride) => ride.name === "The Magic Carpets of Aladdin");
    let aladdinTest = aladdin.wait_time
    initMap(hauntedMansionWait, spaceMountainWait, thunderMountainWait)
  })
  .catch((error) => console.error("Error fetching data:", error));

    function initMap(hauntedMansionWait, spaceMountainWait, thunderMountainWait){
    map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 28.418741718041893, lng: -81.58121440549618},
        zoom: 16.5,
        mapId: '67f6a68d9f0f5af7',
        mapTypeControl: false,
        fullscreenControl: false,
        streetViewControl: false
    })

    // Name
    // Latitude, Longitude
    const rideMarkers= [
        [
            "Space Mountain",
            spaceMountainWait,
            28.4191,
            -81.5772,
        ],
        [
            "Haunted Mansion",
            hauntedMansionWait,
            28.4209, 
            -81.5829,
        ],
        [
            "Thunder Mountain",
            thunderMountainWait,
            28.4202, 
            -81.5844,
        ]
    ];

    for(let i = 0; i<rideMarkers.length; i++) {
        const currMarker = rideMarkers[i];

        const marker = new google.maps.Marker({
            position:  {lat: currMarker[2], lng: currMarker[3]},
            map,
            title: currMarker[0],
            animation: google.maps.Animation.DROP
        })
    
        const infowindow = new google.maps.InfoWindow({
          content: document.getElementById(`custom-info-window${i}`)
        })

        document.getElementById(`custom-info-window${i}`).innerHTML = `
            <h1>${currMarker[0]}</h1>
            <p>Wait Time: ${currMarker[1]}</p>
        `;
    
        marker.addListener("click", () => {
            document.getElementById(`custom-info-window${i}`).classList.remove('hidden')
            infowindow.open(map, marker);
        })

    }
}
  </script>

<% for (let i = 0; i < 3; i++) { %>
  <div id='custom-info-window<%= i %>' class="hidden">
  </div>
<% } %>

  <div id="map" class="h-[60vh] w-full"></div>

</main>
<script src="assets/js/map-api.js"></script>
<script src="<%= mapAPIURL %>">
</script>
</html>
