<!-- Desktop Version -->
<!DOCTYPE html>
<html lang="en" class="box-border">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunshine Attractions</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <!-- Google Fonts (Kara 500 & Merriweather 400) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Merriweather&display=swap" rel="stylesheet">

    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

<% if (isDesktop) { %>
  <div class="desktop-container w-screen h-screen">
    <% if (loggedIn) { %>
      <header>
        <nav class="desktop-navbar w-full h-1/5 flex justify-between items-center p-3 bg-gray-100">
          <div class="logo-container flex justify-center items-center">
            <a href="/">
            <img class="w-full h-6/12" src="assets/image/Sunshine Attractions-logo/sunshine-logo-transparent (2).png" alt="Sunshine Attractions Logo">
            </a>
          </div>
          <div class="login-container flex justify-center items-center p-5">'
            <ul class="menu menu-horizontal bg-base-200">
              <li><a href="/" class="xl:text-xl md:text-l font-karla font-bold p-3 m-2">HOME</a></li>
              <li><a href="/maps" class="xl:text-xl md:text-l font-karla font-bold p-3 m-2">MAPS</a></li>
            </ul>
            <div class="dropdown dropdown-hover m-2">
              <form action="/profile">
                <div class="avatar">
                  <div class="w-10 rounded-full">
                    <img src="<%= user.profilePic || 'assets/image/Sunshine Attractions-logo/default-profile-pic.png' %>" alt="User Profile Picture" />
                  </div>
                </div>
              </form>
              <form action="/profile" class="font-karla">
                <%= user.userName %>
              </form>
              <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52 right-0 menu bg-base-200">
                  <li><a href="/profile" class="active font-merriweather">Profile</a></li>
                  <li><a href="/your-reviews" class="font-merriweather">Your reviews</a></li>
                  <li><a href="/logout" class="font-merriweather">Logout</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    <% } else { %>
      <header>
        <nav class="desktop-navbar w-full h-1/5 flex justify-between items-center p-5  bg-gray-100 mb-10">
          <div class="logo-container flex justify-center items-center">
            <a href="/">
              <img class="w-full h-6/12" src="assets/image/Sunshine Attractions-logo/sunshine-logo-transparent (2).png" alt="Sunshine Attractions Logo">
            </a>
          </div>
          <div class="login-container flex justify-center items-center p-5">
            <ul class="menu menu-horizontal bg-base-200">
              <li><a href="/" class="xl:text-xl md:text-l font-karla font-bold p-3 m-2">HOME</a></li>
              <li><a href="/maps" class="xl:text-xl md:text-l font-karla font-bold p-3 m-2">MAPS</a></li>
            </ul>
            <form action="/login">
              <button type="submit" class="border border-gray-300 rounded-md shadow-sm bg-secondaryButton p-3 m-2 font-merriweather hover:bg-black hover:text-white hover:border-white">LOGIN</button>
            </form>
            <form action="/signup">
              <button type="submit" class="bg-primaryButton border rounded-md shadow-sm p-3 m-2 font-merriweather hover:bg-black hover:text-white hover:border-white">SIGNUP</button>
            </form>
          </div>
        </nav>
      </header>
    <% } %>

<main class="flex justify-center items-top w-full h-auto">

  <div id="map" class="h-[60vh] w-full"></div>

<% } %>

  <!-- Mobile Version -->
  <% if (!isDesktop) { %>
    <div class="mobile-container">
      <!-- Mobile-specific HTML structure -->
      <header>
        <!-- Large box for the app title on mobile -->
        <h1>Sunshine <br> Attractions </br> </h1>
      </header>

      <div class="search-container">
        <!-- Search bar content here -->
      </div>

      <main>
        <ul>
            <li>
                <a href="">Disney</a>
            </li>
            <li>
                <a href="">Universal</a>
            </li>
            <li>
                <a href="">Seaworld</a>
            </li>
            <li>
                <a href="">Busch Gardens</a>
            </li>
         </ul>
      </main>

      <section>
        <article>
            <h2>Halloween Horror Nights 2023</h2>
        </article>
      </section>

    </div>
  <% } %>

</main>
<script src="assets/js/wait-time-api.js"></script>
<script src="assets/js/map-api.js"></script>
<script src="<%= mapAPIURL %>">
</script>
</html>
