<!-- Desktop Version -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunshine Attractions</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <!-- Google Fonts (Kara 500 & Merriweather 400) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Merriweather&display=swap" rel="stylesheet">

    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <div class="desktop-container w-screen h-screen">

  <!-- Nav Bar -->   
  <%- include('partials/header') -%>

<main class="flex justify-center items-top w-full h-auto">
  
      <section class="w-auto h-auto border border-gray-400 p-5 flex justify-center items-center bg-gray-100">
        <div class="card-body">
          <form class="flex flex-col" id="mapForm" onsubmit="redirectToSelectedLocation(event)">
            <select class="select select-bordered w-full max-w-xs m-1" id="locationSelect">
                <option disabled selected>Find the lowest wait times near you!</option>
                <option value="/map/magickingdom-maps">Magic Kingdom</option>
            </select>
        
            <div class="form-control m-1">
                <button class="btn btn-primary bg-primaryButton text-black border-white hover:bg-black hover:text-white hover:border-white" type="submit">Search</button>
            </div>
        </form>
      </div>
  </div>

</main>
<script src="/assets/js/map-selection.js"></script>
</html>
