<!-- Desktop Version -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunshine Attractions</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <!-- Google Fonts (Kara 500 & Merriweather 400) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Merriweather&display=swap" rel="stylesheet">

    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

<% if (isDesktop) { %>
    <div class="desktop-container w-screen h-screen">
      <% if (loggedIn) { %>
        <header>
          <nav class="desktop-navbar w-full h-1/5 flex justify-between items-center p-3 bg-gray-100">
            <div class="logo-container flex justify-center items-center">
              <a href="/">
              <img class="w-full h-6/12" src="assets/image/Sunshine Attractions-logo/sunshine-logo-transparent (2).png" alt="Sunshine Attractions Logo">
              </a>
            </div>
            <div class="login-container flex justify-center items-center p-5">'
              <ul class="menu menu-horizontal bg-base-200">
                <li><a href="/" class="xl:text-xl md:text-l font-karla font-bold p-3 m-2">HOME</a></li>
                <li><a href="/maps" class="xl:text-xl md:text-l font-karla font-bold p-3 m-2">MAPS</a></li>
              </ul>
              <div class="dropdown dropdown-hover m-2">
                <form action="/profile">
                  <div class="avatar">
                    <div class="w-10 rounded-full">
                      <img src="<%= user.profilePic || 'assets/image/Sunshine Attractions-logo/default-profile-pic.png' %>" alt="User Profile Picture" />
                    </div>
                  </div>
                </form>
                <form action="/profile" class="font-karla">
                  <%= user.userName %>
                </form>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52 right-0 menu bg-base-200">
                    <li><a href="/profile" class="active font-merriweather">Profile</a></li>
                    <li><a href="/your-reviews" class="font-merriweather">Your reviews</a></li>
                    <li><a href="/logout" class="font-merriweather">Logout</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </header>
      <% } else { %>
        <header>
          <nav class="desktop-navbar w-full h-1/5 flex justify-between items-center p-5  bg-gray-100 mb-10">
            <div class="logo-container flex justify-center items-center">
              <a href="/">
                <img class="w-full h-6/12" src="assets/image/Sunshine Attractions-logo/sunshine-logo-transparent (2).png" alt="Sunshine Attractions Logo">
              </a>
            </div>
            <div class="login-container flex justify-center items-center p-5">
              <ul class="menu menu-horizontal bg-base-200">
                <li><a href="/" class="xl:text-xl md:text-l font-karla font-bold p-3 m-2">HOME</a></li>
                <li><a href="/maps" class="xl:text-xl md:text-l font-karla font-bold p-3 m-2">MAPS</a></li>
              </ul>
              <form action="/login">
                <button type="submit" class="border border-gray-300 rounded-md shadow-sm bg-secondaryButton p-3 m-2 font-merriweather hover:bg-black hover:text-white hover:border-white">LOGIN</button>
              </form>
              <form action="/signup">
                <button type="submit" class="bg-primaryButton border rounded-md shadow-sm p-3 m-2 font-merriweather hover:bg-black hover:text-white hover:border-white">SIGNUP</button>
              </form>
            </div>
          </nav>
        </header>
      <% } %>

  <main class="w-full h-4/5 flex justify-center">
    <!-- Section for left-side nav bar -->
    <section class="h-full w-1/4 bg-gray-50">
      <ul class="menu bg-base-200 w-full h-full">
        <li><a class="active">Settings</a></li>
        <li><a href="/your-reviews">Your reviews</a></li>
        <li><a href="/your-comments">Your comments</a></li>
        <li><a>Plan a Trip *coming soon*</a></li>
      </ul>
    </section>
<!-- Section for profile pic and welcome message -->
      <section class="h-full w-4/5 flex justify-center items-center flex-col">
        <section class="flex justify-center items-center h-3/5 w-full flex-col">
          <div>
            <h1 class="text-5xl font-bold">Welcome, <%= user.userName %>!</h1>
          </div>

          <div class="avatar m-5">
            <div class="w-20 rounded-full border border-white">
              <img src="<%= user.profilePic || 'assets/image/Sunshine Attractions-logo/default-profile-pic.png' %>" alt="User Profile Picture" />
            </div>
          </div>


          <div class="flex">
            <div class="m-2">
              <ul class="flex">
                <li><a href="#">Following:</a></li>
                <li><a href="#">0</a></li>
              </ul>
            </div>
  
            <div class="m-2">
              <ul class="flex">
                <li><a href="#">Followers:</a></li>
                <li><a href="#">0</a></li>
              </ul>
            </div>
          </div>
  
        </section>

        <!-- Section for profile pic -->
        <section class="h-2/5 w-full flex">
            <div class=" w-full h-full flex items-center flex-col">
              <form action="/updateProfilePicture" enctype="multipart/form-data" method="POST">
                <div class="mb-3">
                  <label for="imgUpload" class="form-label">Change your Profile Picture</label>
                  <input type="file" name="file" class="form-control file-input file-input-bordered file-input-warning w-full max-w-xs" />
                </div>
                <button type="submit" value="Upload" class="btn btn-primary bg-primaryButton text-black border-white">Submit</button>
              </form>
            </div>
        </section>
      </section>
  </main>
</div>

  <% } %>
  
  <!-- Mobile Version -->
  <% if (!isDesktop) { %>
    <div class="mobile-container">
      <!-- Mobile-specific HTML structure -->
      <header>
        <!-- Large box for the app title on mobile -->
        <h1>Sunshine <br> Attractions </br> </h1>
      </header>

      <div class="search-container">
        <!-- Search bar content here -->
      </div>

      <main>
        <ul>
            <li>
                <a href="">Disney</a>
            </li>
            <li>
                <a href="">Universal</a>
            </li>
            <li>
                <a href="">Seaworld</a>
            </li>
            <li>
                <a href="">Busch Gardens</a>
            </li>
         </ul>
      </main>

      
      <section>
        <article>
            <h2>Halloween Horror Nights 2023</h2>
        </article>
      </section>

    </div>
  <% } %>
</body>
</html>